<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../static/partials/head.ejs %>
    <link rel="stylesheet" href="/css/person.css">
</head>
<body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
        <h1 class="display-3 person-heading"><%= person.name %></h1>

        <section class="row">
            <div class="col-4 poster-container">
                <img class="img-fluid" src="https://image.tmdb.org/t/p/w500/<%= person.profile_path %>" alt="Profile Picture">
            </div>
            <div class="col-8">
                <div class="row">
                    <p class="col-2"><strong>Bio</strong></p>
                    <p class="col-10"><%= person.biography %></p>
                </div>
                <div class="row">
                    <p class="col-2"><strong>Birthday</strong></p>
                    <p class="col-10"><%= (new Date(person.birthday)).toLocaleDateString() %></p>
                </div>
                <div class="row">
                    <p class="col-2"><strong>Place of Birth</strong></p>
                    <p class="col-10"><%= person.place_of_birth %> min</p>
                </div>
                <% if (person.deathday) { %>
                    <div class="row">
                        <p class="col-2"><strong>Deceased</strong></p>
                        <p class="col-10"><%= (new Date(person.deathday)).toLocaleDateString() %></p>
                    </div>
                <% } %>
            </div>
        </section>
    </main>

    <% include ../static/partials/baseScripts.ejs %>
</body>
</html>