<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../static/partials/head.ejs %>
</head>
<body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
        <h1 class="display-3">Search Results</h1>

        <section>
            <h2 class="display-5">Results for "<%= search_query %>"</h2>
            <ul>
                <% results.forEach(result => { %>
                    <% if (result.media_type === "movie") { %>
                        <li><a href="#"><%= result.title %></a>: <%= result.media_type %></li>
                    <% } else if (result.media_type === "tv") { %>
                        <li><a href="/tv/<%= result.id %>"><%= result.name %></a>: <%= result.media_type %></li>
                    <% } else if (result.media_type === "person") { %>
                        <li><a href="#"><%= result.name %></a>: <%= result.media_type %></li>
                    <% } %>
                <% }) %>
            </ul>
        </section>
    </main>

    <% include ../static/partials/baseScripts.ejs %>
</body>
</html>